__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec
*.egg-info/
.eggs/
*.log
gh.zip
gh_cli/
lkj_viewer/build/
lkj_viewer/dist/
lkj_viewer/android_version/build/
lkj_viewer/android_version/dist/
*.xlsx

.buildozer
.buildozer
